@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;700&family=Montserrat:wght@400;700&display=swap');
@import "tailwindcss";

:root {}

@theme {
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 28px;
  --text-4xl: 48px;
  --text-8xl: 96px;
  --font-palanquin: 'Palanquin', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --color-primary: #ECEEFF;
  --color-red: #FF6452;
  --color-slate-gray: #6D6D6D;
  --color-pale-blue: #F5F6FF;
  --color-white-400: rgba(255, 255, 255, 0.80);
  --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);
  --hero: url('assets/images/collection-background.svg');
  --card: url('assets/images/thumbnail-background.svg');
  --breakpoint-wide: 1440px;
  --breakpoint-vs: 450px;
}

@layer base{
  html{
    overflow-x: hidden;
  }
  body{
    overflow-x: hidden;
  }
}

@layer components {
  .bg-main{
    background-color: #FDFDFD;
  }
  .bg-card {
    background-image: url("./assets/images/thumbnail-background.svg");
  }

  .max-container {
    max-width: 1440px;
    @apply mx-auto;
  }

  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

  .bg-hero {
    background-image: url('assets/images/collection-background.svg');
  }
}